<div id="<%= dom_id product %>" class="product-item">
  <div class="card">
    <% if product.image_url.present? %>
      <%= image_tag(product.image_url, class: "card-img-top", alt: "Product Image") %>
    <% end %>
    <div class="card-body">
      <h5 class="card-title"><%= product.name %></h5>
      <p class="card-text"><%= product.description %></p>
      <p class="card-text">Price: <%= product.price %></p>
      <%= form_with(url: cart_add_path, class: "add-to-cart-form") do |f| %>
        <%= f.hidden_field :id, value: product.id %>
        <div class="input-group mb-3">
          <%= f.number_field :quantity, value: 0, min: 1, class: "form-control", placeholder: "Quantity" %>
          <div class="input-group-append">
            <%= f.submit "Add To Cart", class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
