<!-- CARTE --> 
<div class="col mb-5">
    <div class="card h-100">
      <a href="#" class="text-reset text-decoration-none" data-bs-toggle="modal" data-bs-target="#productModal<%= product.id %>">
      <% if product.image_url.present? %>
        <%= image_tag(product.image_url, class: "card-img-top", alt: "Product Image") %>
      <% else %>
        <img class="card-img-top" src="https://i.pinimg.com/originals/59/54/b4/5954b408c66525ad932faa693a647e3f.jpg" style="height: 300px; object-fit: cover;" alt="miaou" />
      <% end %>
      </a>
      <div class="card-body p-4">
        <div class="text-center">
          <h5 class="fw-bolder"><%= product.name %></h5>
          <%= product.price %> €
        </div>
      </div>
      <div class="card-footer row d-flex justify-content-center align-items-center p-4 pt-0 border-top-0 bg-transparent">
        <%= form_with(url: cart_add_path, class: "add-to-cart-form") do |f| %>
          <%= f.hidden_field :id, value: product.id %>
          <div class="col-12 input-group mb-3">
            <%= f.number_field :quantity, value: 0, min: 1, class: "form-control", placeholder: "Quantity" %>
          </div>
          <div class="col-12 input-group-append d-flex justify-content-center">
            <%= f.submit "Add To Cart", class: "btn btn-dark" %>
          </div>
        <% end %>      
      </div>
    </div>
</div>

<!-- MODALE --> 
<div class="modal fade" id="productModal<%= product.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><%= product.name %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= product.description %> <br>
        <%= product.price %> €
      </div>
      <div class="modal-footer">
        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Ajouter au panier</a></div>
        <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
